
<h1>The Cookbook Revised!</h1>

<h2>Here is the list of recipes currently stored in our database:</h2>

<table class="List_of_ingredients">
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Description</th>
    <th>Done?</th>
    <th>Prep time</th>
    <% @recipes.each_with_index do |recipe, index|%>
    <tr>
      <td><%= index + 1%></td>
      <td><%= recipe.name%></td>
      <td><%= recipe.description%></td>
      <td><%= recipe.done == 'true' ? 'Yes' : 'Not yet!'%></td>
      <td><%=recipe.prep_time%></td>
    </tr>

    <% end %>
  </tr>

</table>
<br>
<br>
<a href="/new_recipe" class="btn btn-primary">Add a new recipe!</a>
<br>
<br>
<br>
<br>
<form method="post" action="/from_web">
  Look for recipes online using an ingredient (available in French)!
  <br>
  C'est par ici =>
  <input type="text" name="user_input">
  <br>
  <br>
  <input type="submit" class="btn btn-primary" value="Look it up in the web :-)">
</form>
<br>
<br>
<a href="/delete" class="btn btn-primary">Delete a recipe from the cookbook :-( </a>















